body{
    font-family: Arial, "Sans-serif";
    transition: all .5s;
}
div{
    text-align: center;
    color: #fff;
}
#container{
    font-size: 24px;
}
button{
    background-color: #4caf50;
    color: #fff;
    font-size: 18px;
    padding: 10px 14px;
    margin-top: 5rem;
    border: none;
    border-radius: 16px;
}
.footer{
    font-family: cursive;
    margin-top: 4rem;
    font-size: 20px;
}
.footer a{
    text-decoration: underline;
    color: inherit;
}
